
<div>
  <input type="text" placeholder="application-name" [(ngModel)]="applicationNameSearchInput" />
  <button (click)="onSearchButtonPressed()">Search</button>
</div>
<table class="application-artifacts-matrix" *ngIf="applicationSearchResult?.environments?.length">
  <thead>
  <tr>
    <th>Tenant</th>
    <th *ngFor="let environment of applicationSearchResult?.environments">
      {{ environment.environment }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tenantName of getTenantNames()">
    <td>{{ tenantName }}</td>
    <td *ngFor="let environment of applicationSearchResult?.environments">
      <div *ngIf="getTenantInEnvironment(environment, tenantName) as tenant" [resourceStatusClass]="tenant.application.status" class="frame-box">
        <div>{{ tenant.application.name }}</div>
        <div>
          <status-icon [status]="tenant.application.status" [text]="tenant.application.status" />
        </div>
        <ng-container *ngFor="let deployment of tenant.application.deployments">
          <div [resourceStatusClass]="deployment.status" class="frame-box deployment">
            <div class="deployment-version d-flex align-items-center">
              <span class="me-2"> {{ deployment.version }} </span>
              <status-icon
                  [status]="deployment.status"
                  [text]="deployment.status"
                  class="deployment-status d-inline-block"/>
            </div>
            <div class="pods d-flex align-items-start">
              <ng-container class="pod" *ngFor="let pod of deployment.pods">
                <status-icon [status]="pod.status" [text]="pod.status" [resourceStatusClass]="pod.status" class="pod frame-box"/>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!getTenantInEnvironment(environment, tenantName)">
        <span class="empty">—</span>
      </ng-container>
    </td>
  </tr>
  </tbody>
</table>