
<div>
  <input type="text" placeholder="application-name" [(ngModel)]="applicationNameSearchInput" />
  <button (click)="onSearchButtonPressed()">Search</button>
</div>
<table *ngFor="let environment of applicationSearchResult?.environments">
  <tr>
    <th>Tenant</th>
    <th>{{ environment.name }}</th>
  </tr>
  <ng-container *ngFor="let tenant of environment.tenants">
    <tr>
      <td>{{ tenant.name }}</td>
      <td>
        <div>{{tenant.application.name}}</div>
        <div>{{tenant.application.status}}</div>
        <ng-container *ngFor="let deployment of tenant.application.deployments">
          <div>{{ deployment.version }}</div>
          <div>{{ deployment.status }}</div>
          <div>
            <ng-container *ngFor="let pod of deployment.pods">
              <div>{{ pod.status }}</div>
            </ng-container>
          </div>
        </ng-container>
      </td>
    </tr>
  </ng-container>
</table>